// typoRhythm

$typorhythm_base: 24;


@function toEms($size) {
  @return $typorhythm_base / $size * 1em;
}

@function lineHeight($size, $base:$typorhythm_base) {
  @return $base / $size;
}

@function responsiveLineHeight($size) {
  $remaining: $size % $typorhythm_base;
  $next_base: $typorhythm_base + ($size - $remaining);
  @return if($remaining > 0, lineHeight($size, $next_base), 1);
}

@mixin typoRhythm($size:16, $padding:null, $margin:null, $line-height:null) {
  // Font Size
  font-size: $size/16 * 1rem;
  // Padding
  @if $padding {padding: $padding * toEms($size);}
  // Margin
  @if $margin {margin-bottom: $margin * toEms($size);}
  // Line Height
  @if $line-height {
    line-height: $line-height * lineHeight($size);
  } @else {
    line-height: responsiveLineHeight($size);
  }
}

@mixin typoRhythmGenerator($map, $padding:null, $margin:null, $line-height:null) {
  @each $element, $size in $map {
    #{$element} {
      @include typoRhythm($size, $padding, $margin, $line-height);
    }
  }
}
