$typorhythm_base: 24 !default;
$typorhythm_fontsize: 16 !default;

@function fontSize($size, $unit:'em'){
  @return $size / $typorhythm_fontsize + if($unit == 'rem', rem, em);
}

@function baseContext($size, $multipler: 0) {
  @return $multipler * ($typorhythm_base / $size) + em;
}

@function lineHeight($size, $base:$typorhythm_base) {
  @return $base / $size;
}

@function lineHeightContext($size) {
  $remaining: $size % $typorhythm_base;
  $biggerBase: $typorhythm_base + ($size - $remaining);
  @return if($remaining > 0, lineHeight($size, $biggerBase), 1);
}

@mixin typoRhythm($size, $padding:null, $margin:null, $line-height:null, $unit:null) {
  font-size: fontSize($size, $unit);
  padding: if($padding, baseContext($size, $padding), null);
  margin-bottom: if($margin, baseContext($size, $margin), null);
  line-height: if($line-height, $line-height * lineHeight($size), lineHeightContext($size));
}

@mixin typoRhythmGenerator($map, $padding:null, $margin:null, $line-height:null, $unit:null) {
  @each $element, $size in $map {
    #{$element} {
      @include typoRhythm($size, $padding, $margin, $line-height, $unit);
    }
  }
}
