// typoRhythm

@mixin typoRhythm($size:16, $padding:null, $margin:null, $line:null, $map:null) {
  // Font Size
  font-size: $size/16+rem;
  // Padding
  @if $padding {padding: $padding * (12/$size)+em;}
  // Margin
  @if $margin {margin-bottom: $margin * (24/$size)+em;}
  // Line Height
  @if $line {
    line-height: $line * (24/$size);
  } @else {
    @if $size <= 24 {
      line-height: 24/$size;
    } @else {
      @for $i from 1 through 100 {
        @if $size >= (24 * $i) {
          line-height: (( 24 * ($i+1) ) / $size);
        }
      }
    }
  }
}
// e.g. h3 {@include typoRhythm(24, $margin: 1);}

// typoRhythm Generator
@mixin typoRhythmGenerator($map, $padding:null, $margin:null, $line:null) {
  @each $element, $size in $map {
    #{$element} {
      @include typoRhythm($size, $padding, $margin, $line);
    }
  }
}
// e.g. $map: (h1:47, h2:34, h3:26, h4:21, h5:18, h6:16, p: 16, ul: 16);
// e.g. @include typoRhythm-default($map);
