@include test-module('typorhythm') {

  @include test('@mixin typoRhythm()') {
    @include assert('Outputs a font size and line height for 16px.') {
      @include input {
        @include typoRhythm(16)
      }
      @include expect {
        font-size: 1rem;
        line-height: 1.5;
      }
    }
    @include assert('Outputs a font size and line height for 26px.') {
      @include input {
        @include typoRhythm(26)
      }
      @include expect {
        font-size: 1.625rem;
        line-height: 1.84615;
      }
    }
  }

  @include test('@mixin typoRhythm($margin)') {
    @include assert('Outputs a font size and line height and margin for 16px.') {
      @include input {
        @include typoRhythm(16, $margin:1)
      }
      @include expect {
        font-size: 1rem;
        margin-bottom: 1.5em;
        line-height: 1.5;
      }
    }
    @include assert('Outputs a font size and line height and margin for 26px.') {
      @include input {
        @include typoRhythm(26, $margin:1)
      }
      @include expect {
        font-size: 1.625rem;
        margin-bottom: 0.92308em;
        line-height: 1.84615;
      }
    }
  }

  @include test('@mixin typoRhythm($padding)') {
    @include assert('Outputs a font size, line height and padding for 16px.') {
      @include input {
        @include typoRhythm(16, $padding:1)
      }
      @include expect {
        font-size: 1rem;
        padding: 0.75em;
        line-height: 1.5;

      }
    }
    @include assert('Outputs a font size, line height and padding for 26px.') {
      @include input {
        @include typoRhythm(26, $padding:1)
      }
      @include expect {
        font-size: 1.625rem;
        padding: 0.46154em;
        line-height: 1.84615;
      }
    }
  }

  @include test('@mixin typoRhythm($line)') {
    @include assert('Outputs a font size and custom line height for 16px.') {
      @include input {
        @include typoRhythm(16, $line:2)
      }
      @include expect {
        font-size: 1rem;
        line-height: 3;

      }
    }
    @include assert('Outputs a font size and custom line height for 26px.') {
      @include input {
        @include typoRhythm(26, $line:2)
      }
      @include expect {
        font-size: 1.625rem;
        line-height: 1.84615;
      }
    }
  }
}
