@include test-module('typorhythm') {

  @include test('@mixin typoRhythm()') {
    @include assert('Outputs font-size and line-height for 16px') {
      @include input {
        @include typoRhythm(16)
      }
      @include expect {
        font-size: 1em;
        line-height: 1.5;
      }
    }
    @include assert('Outputs font-size and line-height for 26px') {
      @include input {
        @include typoRhythm(26)
      }
      @include expect {
        font-size: 1.625em;
        line-height: 1.84615;
      }
    }
  }

  @include test('@mixin typoRhythm($margin)') {
    @include assert('Outputs default plus margin-bottom for $size: 16') {
      @include input {
        @include typoRhythm(16, $margin:1)
      }
      @include expect {
        font-size: 1em;
        margin-bottom: 1.5em;
        line-height: 1.5;
      }
    }
    @include assert('Outputs default plus margin-bottom for $size: 26') {
      @include input {
        @include typoRhythm(26, $margin:1)
      }
      @include expect {
        font-size: 1.625em;
        margin-bottom: 0.92308em;
        line-height: 1.84615;
      }
    }
  }

  @include test('@mixin typoRhythm($padding)') {
    @include assert('Outputs default plus padding for $size: 16') {
      @include input {
        @include typoRhythm(16, $padding:1)
      }
      @include expect {
        font-size: 1em;
        padding: 1.5em;
        line-height: 1.5;

      }
    }
    @include assert('Outputs default plus padding for $size: 26') {
      @include input {
        @include typoRhythm(26, $padding:1)
      }
      @include expect {
        font-size: 1.625em;
        padding: 0.92308em;
        line-height: 1.84615;
      }
    }
  }

  @include test('@mixin typoRhythm($line)') {
    @include assert('Outputs default plus custom line-height for $size: 16') {
      @include input {
        @include typoRhythm(16, $line-height:2)
      }
      @include expect {
        font-size: 1em;
        line-height: 3;

      }
    }
    @include assert('Outputs default plus custom line-height for $size: 26') {
      @include input {
        @include typoRhythm(26, $line-height:2)
      }
      @include expect {
        font-size: 1.625em;
        line-height: 1.84615;
      }
    }
  }

  @include test('@mixin typoRhythm($unit)') {
    @include assert('Outputs font-size in Ems for $size: 16') {
      @include input {
        @include typoRhythm(16, $unit:'em')
      }
      @include expect {
        font-size: 1em;
        line-height: 1.5;
      }
    }
    @include assert('Outputs font-size in Rems for $size: 26') {
      @include input {
        @include typoRhythm(26, $unit:'rem')
      }
      @include expect {
        font-size: 1.625rem;
        line-height: 1.84615;
      }
    }
  }

}
