html {
  min-height: 100%; }

body {
  color: white;
  font: 100% 'Open Sans', sans-serif;
  padding: 1.5em 3em;
  margin: 0 auto;
  max-width: 800px;
  min-width: 400px;
  background-image: linear-gradient(#2afac6, #4ff7f2);
  background-repeat: no-repeat; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 900; }

p {
  font-weight: 300; }

b {
  font-weight: 600; }

u {
  text-decoration: none;
  border-bottom: 2px solid; }

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }

li:before {
  content: " \2014";
  padding-right: 0.75em; }

pre {
  padding: 1.5em 1.5em;
  border-left: 4px solid;
  font-weight: 700;
  letter-spacing: 1px;
  background: rgba(255, 255, 255, 0.33);
  overflow: auto; }

.o1 {
  opacity: 1; }

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, p:hover, li:hover {
  background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.33)); }
