@import url(http://fonts.googleapis.com/css?family=Raleway:300,700,800);
h1 {
  font-size: 2.9375rem;
  margin-bottom: 0.51064em;
  line-height: 1.02128; }

h2 {
  font-size: 2.125rem;
  margin-bottom: 0.70588em;
  line-height: 1.41176; }

h3 {
  font-size: 1.625rem;
  margin-bottom: 0.92308em;
  line-height: 1.84615; }

h4 {
  font-size: 1.3125rem;
  margin-bottom: 1.14286em;
  line-height: 1.14286; }

h5 {
  font-size: 1.125rem;
  margin-bottom: 1.33333em;
  line-height: 1.33333; }

h6 {
  font-size: 1rem;
  margin-bottom: 1.5em;
  line-height: 1.5; }

p {
  font-size: 1rem;
  margin-bottom: 1.5em;
  line-height: 1.5; }

ul {
  font-size: 1rem;
  margin-bottom: 1.5em;
  line-height: 1.5; }

.title {
  font-size: 4.5rem;
  margin-bottom: 0.66667em;
  line-height: 1; }

.example {
  font-size: 1.3125rem;
  padding: 1.14286em;
  margin-bottom: 1.14286em;
  line-height: 1.14286; }

.fyi {
  font-size: 0.8125rem;
  line-height: 1.84615; }

html {
  min-height: 100%; }

body {
  color: white;
  font: 100% 'Raleway', sans-serif;
  padding: 1.5em 3em;
  margin: 0 auto;
  max-width: 800px;
  min-width: 400px;
  background-image: linear-gradient(#2afac6, #4ff7f2);
  background-repeat: no-repeat; }

h1 {
  font-weight: 800; }

h2 {
  font-weight: 800; }

h3 {
  font-weight: 800; }

h4 {
  font-weight: 800; }

h5 {
  font-weight: 800; }

h6 {
  font-weight: 800; }

b {
  font-weight: 700; }

u {
  text-decoration: none;
  border-bottom: 2px solid; }

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }

li:before {
  content: " \2014";
  padding-right: 0.75em; }

pre {
  padding: 1.5em 1.5em;
  border-left: 4px solid;
  font-weight: 700;
  letter-spacing: 1px;
  background: rgba(255, 255, 255, 0.29);
  overflow: auto; }

body > *:hover {
  background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.29)); }
